<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FOG - Admin Login</title>
    <link rel="stylesheet" href="/css/adminLogin.css">
</head>
<body>
    <div class="login-container">
        <h1>Admin Log Ind</h1>
        <form action="/admin/login" method="post">
            <input type="text" name="admin_email" placeholder="Email" required>
            <input type="password" name="admin_password" placeholder="Adgangskode" required>
            <button type="submit">Log ind</button>
        </form>
            <p class="message" th:if="${fejl}" th:text="${fejl}"></p>
    </div>
</body>
</html>